repos:
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variable
          - --ignore-init-module-imports
-   repo: https://github.com/timothycrosley/isort
    rev: 5.10.1  # pick the isort version you'd like to use from https://github.com/timothycrosley/isort/releases
    hooks:
    - id: isort
-   repo: https://github.com/ambv/black
    rev: 22.1.0
    hooks:
    - id: black
      language_version: python3.7
-   repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1  # pick a git hash / tag to point to
    hooks:
      - id: pydocstyle
        args:
          - --convention=google
          - --add-ignore=D105,D107
          - --ignore-decorators=implements|overload|property
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: name-tests-test
    -   id: debug-statements
