[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = ">=2.0"
pytest = "==3.3.2"
pytest-cov = "==2.6.0"
mypy = "*"
gitpython = "*"

[packages]
imageio = "==2.4.1"
matplotlib = "==3.0.2"
numpy = "==1.14.2"
pandas = ">=0.24.0"
scikit-learn = "==0.20.1"
seaborn = "==0.9.0"
torch = "==0.4.1"
typing = "==3.6.2"
pyarrow = ">=0.11"
feather-format = '>=0.4'
numba = "*"

[requires]
python_version = "3.6"
