name: EthicML CI

on:
  pull_request:
    branches:
    - main
    paths-ignore:
    - 'docs/**'
    - 'examples/**'
    - '**/*.md'
    - .github/dependabot.yml
    - .github/release.yml
    - .github/workflows/docs.yml
    - .github/workflows/dummy_ci.yml
    - .github/workflows/dependabot_auto.yml
    - .github/workflows/labeler.yml
    - .gitignore
    - CODEOWNERS
    - LICENSE
    - make_release.sh
    - CITATION.cff


jobs:

  lint_with_pylint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install pylint
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Lint with pylint
      run: |
        pylint --fail-under=8.5 ethicml/
        pylint --fail-under=8.5 tests/

  format_with_black_and_isort:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Install black
      run: |
        python -m pip install --upgrade pip
        pip install 'black<=23' isort
    - name: Format with black
      run: |
        python -m black --check -l 100 -t py38 -S ethicml/
        python -m black --check -l 100 -t py38 -S tests/
    - name: Format with isort
      run: |
        isort . --check --diff

  check_docstrings:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install ruff
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install ruff
        pip install -r docs/requirements.txt
    - name: Install pandoc
      run: sudo apt-get install -y pandoc
    - name: Check code with ruff
      run: |
        ruff ethicml
    - name: Build with sphinx
      run: |
        sphinx-build -W -b html ./docs ./docs/_build

  check_with_darglint:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Install darglint
      run: |
        python -m pip install --upgrade pip
        pip install darglint
    - name: Check with darglint
      run: |
        sh run_darglint.sh

  test_minimal_dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          poetry env use 3.8
          poetry install --no-interaction --no-root --without dev
      - name: Test import
        run: |
          poetry run python -c "import ethicml"

  test_full_dependencies:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          cache: 'poetry'

      - name: Install dependencies
        run: |
          poetry env use 3.8
          poetry install --no-interaction --no-root -E all --with ci --with torchcpu
      - name: Test import
        run: |
          poetry run python -c "import ethicml"

  test_with_pytest:
    needs: [lint_with_pylint, format_with_black_and_isort, check_docstrings, check_with_darglint, test_minimal_dependencies, test_full_dependencies]
    runs-on: ubuntu-latest

    steps:
      #----------------------------------------------
      #  ---  check-out repo and set-up python ---
      #----------------------------------------------
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          cache: 'poetry'

      #----------------------------------------------
      #  ---------  install dependencies  --------
      #----------------------------------------------
      - name: Install dependencies
        run: |
          poetry env use 3.8
          poetry install --no-interaction --no-root -E all --with ci --with torchcpu

      #----------------------------------------------
      #  -----           Run MyPy             -----
      #----------------------------------------------
      - name: Type check with mypy
        run: |
          poetry run python run_mypy.py
          poetry run python run_mypy_tests.py

      #----------------------------------------------
      #  -----           Run Tests            -----
      #----------------------------------------------
      - name: Test with pytest
        run: |
          poetry run python -m pytest -vv -n 2 --dist loadgroup --cov=ethicml --cov-fail-under=80  tests/
