name: EthicML CI

on:
  pull_request:
    branches:
    - master
    paths-ignore:
    - 'docs/**'
    - 'docsource/**'
    - 'examples/**'
    - '**/*.md'
    - .gitignore
    - CODEOWNERS
    - LICENSE

jobs:
  test_with_pytest:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install -e .[ci]
    - name: Test with pytest
      run: |
        python -m pytest -vv --cov=ethicml --cov-fail-under=80  tests/

  lint_with_pylint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install pylint
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Lint with pylint
      run: |
        python run_pylint.py
        python run_pylint_tests.py

  format_with_black:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install black
      run: |
        python -m pip install --upgrade pip
        pip install black isort
    - name: Format with black
      run: |
        python -m black --check -l 100 -t py36 -S ethicml/
        python -m black --check -l 100 -t py36 -S tests/
        isort . --check --diff

  type_check_with_mypy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install mypy
      run: |
        python -m pip install --upgrade pip
        pip install mypy
        pip install git+https://github.com/predictive-analytics-lab/data-science-types
        pip install typed-argument-parser==1.4 teext
    - name: Type check with mypy
      run: |
        python run_mypy.py
        python run_mypy_tests.py

  check_docstrings:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install pydocstyle
      run: |
        python -m pip install --upgrade pip
        pip install pydocstyle
    - name: Check docstrings with pydocstyle
      run: |
        pydocstyle --count -e ethicml
