name: EthicML dummy CI

on:
  pull_request:
    branches:
    - main
    paths:  # these are exactly the paths that are ignored in the real CI
    - 'docs/**'
    - 'docsource/**'
    - 'examples/**'
    - '**/*.md'
    - .gitignore
    - CODEOWNERS
    - LICENSE
    - make_release.sh
    - CITATION.cff

jobs:
  test_with_pytest:

    runs-on: ubuntu-latest

    steps:
    - name: Test with pytest
      run: |
        echo "pass!"

  lint_with_pylint:

    runs-on: ubuntu-latest

    steps:
    - name: Lint with pylint
      run: |
        echo "pass!"

  format_with_black_and_isort:

    runs-on: ubuntu-latest

    steps:
    - name: Format with black and isort
      run: |
        echo "pass!"

  type_check_with_mypy:

    runs-on: ubuntu-latest

    steps:
    - name: Type check with mypy
      run: |
        echo "pass!"

  check_docstrings:

    runs-on: ubuntu-latest

    steps:
    - name: Check docstrings with pydocstyle
      run: |
        echo "pass!"
