name: EthicML dummy CI

on:
  pull_request:
    branches:
    - main
    paths:  # these are exactly the paths that are ignored in the real CI
    - 'docs/**'
    - 'examples/**'
    - '**/*.md'
    - .github/dependabot.yml
    - .github/release.yml
    - .github/workflows/docs.yml
    - .github/workflows/dummy_ci.yml
    - .github/workflows/dependabot_auto.yml
    - .github/workflows/labeler.yml
    - .gitignore
    - CODEOWNERS
    - LICENSE
    - make_release.sh
    - CITATION.cff

jobs:
  lint_with_pylint:

    runs-on: ubuntu-latest

    steps:
    - name: Lint with pylint
      run: |
        echo "pass!"

  format_with_black_and_isort:

    runs-on: ubuntu-latest

    steps:
    - name: Format with black and isort
      run: |
        echo "pass!"

  check_docstrings:

    runs-on: ubuntu-latest

    steps:
    - name: Check docstrings with pydocstyle
      run: |
        echo "pass!"
        
  test_with_pytest:

    runs-on: ubuntu-latest

    steps:
    - name: Test with pytest
      run: |
        echo "pass!"
